html {
  --es-color-white: #ffffff;
  --es-color-dark: #1a1a1a;
  --es-header-height: 60px;
}

.light {
  --es-color-bg: var(--es-color-white);
  --es-color: #213547;
  --es-border: 1px solid rgba(60, 60, 60, .12);
}
.dark {
  --es-color: rgba(255, 255, 255, .87);
  --es-color-bg: var(--es-color-dark);
  --es-border: 1px solid #363637;
}
