html {
  --es-color-white: #ffffff;
  --es-color-dark: #1a1a1a;
  --es-header-height: 60px;
  --es-border: 1px solid var(--es-border-color);
}

.light {
  --es-color-bg: var(--es-color-white);
  --es-color: #34495e;
  --es-border-color: rgba(60, 60, 60, .12);
}
.dark {
  --es-color: rgba(255, 255, 255, .75);
  --es-color-bg: var(--es-color-dark);
  --es-border-color: #363637;
}
