html {
  --es-color-white: #ffffff;
  --es-color-dark: #1a1a1a;
  --es-header-height: 60px;
  --es-border: 1px solid var(--es-border-color);
  --es-color-bg: var(--el-bg-color);
}

html.light {
  --es-color: #34495e;
  --es-border-color: rgba(60, 60, 60, .12);
  --es-bg-color-page: #eff2f5;
}
html.dark {
  --es-color: rgba(255, 255, 255, .75);
  --es-border-color: #363637;
  // --el-bg-color: #111827;
  --es-bg-color-page: #202124;
}
